body{
    margin: 0px;
}

header{
    height: 200px;
    background-color: bisque;
}
nav{
    height: 180px;
    background-color: rgb(209, 255, 3);
}
main{
    height: 1000px;
    background-color: aquamarine;
}
aside{
    width: 20%;
    background-color: rgb(42, 151, 165);
    min-height: 1000px;
    float: left;
}
section{
    width: 20%;
    background-color: rgb(145, 76, 236);
    min-height: 1000px;
    float: left;
}
footer{
    height: 100px;
    background-color: rgb(248, 182, 245);
    clear: both;
}

